@import "bootstrap";

h1 {
	color: red;
}
.head {
	background-color: pink;
	height: 300px;
	width: 100%;
	color: green;
	text-align: center;
}
.middle {
	background-color: yellow;
	height: 300px;
	width: 100%;
	color: blue;
	text-align: center;
}
.bottom {
	background-color: red;
	height: 300px;
	width: 100%;
	color: white;
	text-align: center;
}